@tailwind base;
@tailwind components;
@tailwind utilities;

.black-button::before {
    color: black;
}

@font-face {
    font-family: "Poppins";
    src: url("./assets/Fonts/poppins-regular-webfont.woff") format("woff2"),
        url("./assets/Fonts/poppins-regular-webfont.woff2") format("woff");
    font-weight: normal;
    font-style: normal;
}
